common \
  --color=yes \
  --registry=https://raw.githubusercontent.com/asoffer/bazel-registry/main \
  --registry=https://bcr.bazel.build

build \
  --strip=never

test \
  --test_arg="--use-colour yes" \
  --test_output=errors \

test:ci \
  --dynamic_mode=off \

build:asan \
  --copt=-fsanitize=address \
  --linkopt=-fsanitize=address \

test:asan \
  --test_env=ASAN_OPTIONS=external_symbolizer_path=/usr/bin/llvm-symbolizer \
  --test_env=ASAN_OPTIONS=detect_leaks=0 \
  --test_tag_filters="-noasan" \

build:tsan \
  --copt=-fsanitize=thread \
  --linkopt=-fsanitize=thread \

build:ubsan \
  --copt=-fsanitize=undefined \
  --linkopt=-fsanitize=undefined \

build:profile \
  --copt=-fno-omit-frame-pointer \
